<html>
	<head>
		<title>{{page_title_text }}</title>	
	</head>
	<body>
		<h1>{{ title_text }}</h1>
		<table border="1">
			<tr> 
				{% for header in headings %}	
				<th> {{ header }}</th>
				{% endfor %}
			</tr>	

			{% for row in data %}
    		<tr>
    			{% for cell in row %}
    			<td>{{ cell }}</td>
	   			{% endfor %}
    		</tr>
    		{% endfor %}

			
    	</table>
	</body>
</html>

